body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 1em;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 2em;
}

.temario-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.temario-item {
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 30%;
}

.temario-item h3 {
    margin-top: 0;
}

#quiz, #casos-clinicos {
    margin-top: 2em;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
